$green-light: #85ab00;
$white: white;
$red: red;
$black: black;
$yellow: yellow;
$green: green;
$skyblue: skyblue;
$blue: blue;
$red-orange-medium: #DD4B39;
$red-orange-light: #E74B37;
$red-orange-dark: #BB3F30;
$blue-light: #5B7BD5;
$blue-medium: #4864B1;
$blue-dark: #354C8C;
