@import "color.scss";

body{
  color: black !important;
}

.form-login{
  width: 60%;
  margin: auto;
  padding: 100px 0;
}

.btn-login{
  margin-top: 40px;
}

.input-search{
  margin-top: 30px;
}

.nasir-room-grid{
  padding-top: 0 !important;
}

.final-breadcrumb{
  padding: 0 !important;
}

.book-r-form .book-form b{
  margin: 20px 0 !important;
}

.description{
  padding-top: 30px !important;
}

.img-relate{
  width: 120px;
  height: 92px;
}

.ptag-status{
  padding-left: 20px;
  border-radius: 5px;
  color: black;
}

.bg-pendding{
  background-color: $yellow;
}

.bg-approved{
  background-color: $green;
}

.bg-disapprove{
  background-color: $red;
}

.bg-cancel{
  background-color: $skyblue;
}

.tr-order:hover{
  background-color: salmon;
}

.div-detail-order-show{
  margin-top: 100px;
  margin-bottom: 100px;
}

.line-detail-order{
  margin-bottom: 10px;
}

.input-address-user{
  margin-bottom: 10px;
}

.custom-d-flex{
  display: flex;
  position: relative;
}

.div-x{
  position: absolute;
  right: 0px;
}

.delete-address{
  border: 1px solid $red;
  background-color: $red;
  color: $black;
}

.div-btns-social{
  margin-top: 20px;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: $white;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: $blue-light;
  background-image: linear-gradient($blue-medium, $blue-dark);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 $blue-dark;
}
.loginBtn--facebook:before {
  border-right: $blue-medium 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: $blue-light;
  background-image: linear-gradient($blue-light, $blue-medium);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: $red-orange-medium;
}
.loginBtn--google:before {
  border-right: $red-orange-dark 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: $red-orange-medium;
}

.div-edit-infor-user{
  color: $black;
  margin-top: 20px;
}

.btn-update-profile{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-filter-order{
  margin-top: 20px;
}
